:root{
    --outer-space: #33393f;
    --blue: #13293d;
    --tan: #a5aa5a;
    --border-radius:79px;
   
}
body{
    font-size: 19px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    transform: rotateX(90);
    background-color:#765aaa;

}
h1{
    font-size: 3.5rem;
    margin-bottom:10px;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 10px;

}
header{
    padding: 40px;
    text-align:left;
    word-spacing: 15px;
    background: var(--orange);
    color: var(--yellow);
    justify-content: space-between;

}
nav {
    display:flex;
    background-color: var(--tan);

}
nav a {
    color: var(--orange);
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    
}
 .card-column{
   border-style: solid;
   border-width:3px ;
   border-radius: var(--border-radius);
   padding: 100px;
   flex:0 0 300px;
   box-shadow:90px 90px 45px #33393f ;
   margin:100px;
   background-color: #a5aa5a;


}

.card-content{
    border-style: solid;
    border-width:3px;
    border-radius: var(--border-radius);
    padding:10px;
    flex:0 0 300px;
    box-shadow: 20px 20px 15px #33393f;
    margin: 30px;
    background-color:#a5aa5a ;



}

.contacts{
    word-spacing: 40px;
}
@media screen and (min-width: 768px){
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card-content:last-child{
        flex-grow: 4;
    }
}
@media screen and (min-width:992px){
    header{
        width:80%;

    }
    .card-column{
        flex: 0 0 33.45%;
        max-width: 33.45%;
    }
}







